<div class="container">
<div class="row">
  <div class="col-lg-12">
    <%= render "shared/caption", site: 'Pixnet', title: '文章內容' %>
    <%= breadcrumb(
          'Pixnet',
          link_to("文章管理", pixnet_articles_path),
          link_to(current_object.user.name, pixnet_user_articles_path(current_object.user)),
          current_object.title
        )
    %>
  </div>
</div>
<%= render 'btn_group' %>
<%=raw display_article(current_object)%>
<hr />
<%= render 'btn_group' %>
</div>
